### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

### Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

### Intellij
*.iml
.idea/
*.ipr
*.iws

### MkDocs
site
docs.zip