<?xml version="1.0" encoding="UTF-8"?>
<config>
  <reportType>JUNIT</reportType>
  <targetSitemap><![CDATA[http://localhost:20756/]]></targetSitemap>
  <scope>
    <url><![CDATA[http://localhost:20756/#/shipments]]></url>
    <url><![CDATA[http://localhost:20756/api/customers/identifiers?cacheBuster=1427106938056&searchTerm=982]]></url>
    <url><![CDATA[http://localhost:20756/#/shipments/83632855/documents]]></url>
  </scope>
  <false-positives>
    <issue>
      <type>6291632</type>
      <path><![CDATA[.*.vendor.js]]></path>
    </issue>
    <issue>
      <type>5245440</type>
      <path><![CDATA[/]]></path>
    </issue>
  </false-positives>
</config>